.about-us {
  color: $secondary-color;
  background-color: $primary-color;
  padding-bottom: 38px;
  padding-top: 29px;
}

.about-us__title {
  margin: 0;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 0;
  padding-bottom: 20px;

  @include font(25px,30px);
}

.about-us__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 0;
  padding-top: 9px;

  @include font(17px,20px);
}

.about-us__item {
  padding-top: 60px;
  padding-bottom: 20px;
  padding-right: 30px;
  position: relative;

  &.about-us__item--flower {
    &::before {
      content: "";
      width: 32px;
      height: 37px;
      background-image: url("../img/icon-feature-flower.svg");
      position: absolute;
      top: 3px;
      left: 9px;
    }
  }

  &.about-us__item--banknote {
    &::before {
      content: "";
      width: 47px;
      height: 27px;
      background-image: url("../img/icon-feature-money.svg");
      background-repeat: no-repeat;
      position: absolute;
      top: 6px;
      left: 1px;
    }
  }

  &.about-us__item--heart {
    &::before {
      content: "";
      width: 33px;
      height: 28px;
      background-image: url("../img/icon-feature-heart.svg");
      background-repeat: no-repeat;
      position: absolute;
      top: 14px;
      left: 8px;
    }
  }

  &.about-us__item--ball {
    &::before {
      content: "";
      width: 34px;
      height: 34px;
      background-image: url("../img/icon-feature-ball.svg");
      background-repeat: no-repeat;
      position: absolute;
      top: 7px;
      left: 5px;
    }
  }

  &.about-us__item--rocket {
    &::before {
      content: "";
      width: 54px;
      height: 23px;
      background-image: url("../img/icon-feature-rocket.svg");
      background-repeat: no-repeat;
      position: absolute;
      top: 10px;
      left: -5px;
    }
  }

  &.about-us__item--gift {
    &::before {
      content: "";
      width: 33px;
      height: 33px;
      background-image: url("../img/icon-feature-gift.svg");
      background-repeat: no-repeat;
      position: absolute;
      top: 10px;
      left: 5px;
    }
  }
}

@media (min-width: $tablet-width) {
  .about-us {
    padding-bottom: 28px;
  }

  .about-us__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include font(20px,22px);
    font-weight: 700;
  }

  .about-us__list {
    width: 50%;
  }

  .about-us__title {
    @include font(43px,50px);
    padding-top: 78px;
    padding-bottom: 35px;
  }

  .about-us__item {
    min-height: 55px;
    padding-bottom: 40px;

    @include font(20px,22px);
    font-weight: 700;
  }
}

@media (min-width: $desktop-width) {
  .about-us__wrapper {
    width: 67%;
    margin-left: auto;
    margin-right: auto;
  }

  .about-us__title {
    @include font(53px,57px);
    width: 67%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-top: 115px;
  }

  .about-us__item {
    min-height: 55px;
  }

  .about-us {
    padding-bottom: 32px;
  }
}
