.background {
  background-color: $gray;
}

.background-main {
  background-color: #f9f9f9;
}

.background__text {
  margin: 0;
  min-height: 176px;
  text-align: center;
  vertical-align: middle;
  padding-top: 70px;
  padding-bottom: 5px;
  padding-left: 10px;
  box-sizing: border-box;
  letter-spacing: 1.4px;

  @include font(27px,30px);
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .background__text {
    @include font(43px,50px);
    padding-top: 12px;
    letter-spacing: 2px;
  }

  .background-no-mobile {
    background-color: $gray;
    width: 100vw;
  }
}

@media (min-width: $desktop-width) {
  .background__text {
    @include font(53px,57px);
    padding-top: 50px;
    min-height: 196px;
  }
}
