.background {
  background-color: $gray;
  position: relative;
}

.background-main {
  background-color: #f9f9f9;
}

.background__text {
  margin: 0;
  min-height: 176px;
  text-align: center;
  vertical-align: middle;
  padding-top: 70px;
  padding-bottom: 5px;
  padding-left: 0;
  box-sizing: border-box;

  @include font(27px,30px);
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .background-main {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 24px;
      bottom: -13px;
      left: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-position-x: 0;
      background-size: 768px 25px;
      background-repeat: repeat-x;
    }
  }

  .background__text {
    @include font(43px,50px);
    padding-top: 12px;
    min-height: 143px;
  }

  .background::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 24px;
    bottom: -14px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-position-x: 40%;
    background-size: 768px 25px;
    background-repeat: repeat-x;
    z-index: 10;
  }

  .background-no-mobile {
    background-color: $gray;
  }
}

@media (min-width: $desktop-width) {
  .background__text {
    @include font(53px,57px);
    padding-top: 50px;
    min-height: 210px;
  }

  .background::after {
    background-size: auto 34px;
    bottom: -8px;
  }

  .background-main {
    &::after {
      height: 30px;
      bottom: -14px;
      background-position-x: 611%;
      background-size: 1250px 41px;
    }
  }
}
