.button {
  display: inline-block;
  width: 100%;
  border: 2px solid $gray-dark;

  @include font(18px,20px);
  text-transform: uppercase;
  min-height: 53px;
  vertical-align: middle;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 13px;
  padding-right: 14px;
  color: $secondary-color;
  letter-spacing: 0.2px;
  box-sizing: border-box;
  word-wrap: break-word;

  &:hover,
  &:focus {
    background-color: $gray-dark;
    color: $primary-color;
  }

  &:active {
    color: $primary-color-30;
    background-color: $gray-dark;
  }
}
