.characters {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  padding-top: 24px;
}

.characters__label {
  margin: 0;
  width: 68px;
  padding-left: 0;
  padding-top: 2px;
  min-height: 11px;
}

.characters__value {
  display: inline-block;
  margin: 0;
  padding-left: 30px;
  min-height: 11px;
  padding-top: 2px;
}

.characters__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid $gray;
  min-height: 30px;
  margin-bottom: 8px;
  padding-bottom: 2px;
}

@media (min-width: $desktop-width) {
  .characters {
    padding-top: 16px;
  }

  .characters__wrapper {
    margin-bottom: 5px;
    padding-bottom: 4px;
    margin-left: 2px;
  }

  .characters__value {
    padding-left: 29px;
    min-height: 11px;
    padding-top: 1px;
  }
}
