.checkbox {
  padding-bottom: 16px;
  padding-left: 3px;
  padding-top: 5px;
}

.checkbox__control {
  display: none;
}

.checkbox__label {
  display: inline-block;

  @include font(17px,18px);
  color: $secondary-color;
  padding-top: 11px;
  padding-left: 22px;
  padding-right: 10px;
  padding-bottom: 3px;
  word-break: break-all;
  word-wrap: break-word;
  width: auto;
  box-sizing: border-box;
}

.checkbox__icon {
  position: relative;
  display: block;
  width: 36px;
  height: 36px;
  border: 2px solid $gray-dark;
  flex-shrink: 0;

  &:hover,
  &:focus {
    border: 2px solid $aqua-form;
  }

  &:active {
    border: 2px solid $gray-30;
  }

  &.checkbox__icon::after {
    content: url("../img/icon-tick.svg");
    position: absolute;
    left: 0;
    bottom: 1px;
    opacity: 0;
    width: 33px;
    height: 23px;
  }
}

.checkbox__control:checked ~ .checkbox__icon::after {
  opacity: 1;
  transform: scale(0.7);
}

@media (min-width: $tablet-width) {
  .checkbox__label {
    @include font(19px,19px);
    padding-top: 13px;
    padding-left: 25px;
    padding-bottom: 19px;
  }

  .checkbox {
    padding-bottom: 19px;
    padding-left: 0;
    width: 239px;
  }

  .checkbox__icon {
    width: 49px;
    height: 49px;

    &.checkbox__icon::after {
      left: 8px;
      bottom: 7px;
    }
  }

  .checkbox__control:checked ~ .checkbox__icon::after {
    transform: scale(1);
  }
}

@media (min-width: $desktop-width) {
  .checkbox {
    padding-bottom: 17px;
    padding-top: 7px;
    padding-right: 18px;
  }

  .checkbox__label {
    @include font(19px,18px);
    padding-top: 16px;
    padding-left: 30px;
  }
}
