.checkbox {
  padding-bottom: 18px;
}

.checkbox__control {
  display: none;
}

.checkbox__label {
  display: inline-block;

  @include font(17px,18px);
  color: $secondary-color;
  padding-top: 15px;
  padding-left: 18px;
  padding-right: 10px;
  padding-bottom: 3px;
  word-break: break-all;
  word-wrap: break-word;
  width: auto;
  box-sizing: border-box;
}

.checkbox__icon {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid $gray-dark;
  flex-shrink: 0;
  &:hover,
  &:focus {
    border: 2px solid $aqua-form;
  }
  &:active {
    border: 2px solid $gray-30;
  }

  &.checkbox__icon::after {
    content: url("../img/icon-tick.svg");
    position: absolute;
    left: 6px;
    bottom: 6px;
    opacity: 0;
  }
}

.checkbox__control:checked ~ .checkbox__icon::after {
  opacity: 1;
}

@media (min-width: $tablet-width) {
  .checkbox__label {
    @include font(19px,19px);
  }
}
