.contacts {
  color: $secondary-color;
  background-color: $primary-color;
  padding-top: 38px;
  padding-bottom: 15px;
}

.contacts__title {
  margin: 0;
  padding-right: 23px;
  padding-top: 4px;
  padding-bottom: 2px;

  @include font(18px,30px);
  font-weight: 700;
  letter-spacing: 0.95px;
}

.contacts__table {
  padding-bottom: 12px;
  padding-top: 4px;
  font-weight: 400;

  @include font(15px,30px);
}

.contacts__wrapper {
  display: flex;
  margin: 0;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 19px;
  padding-bottom: 5px;
  flex-wrap: wrap;
}

.contacts__character {
  flex-basis: 50px;
  margin: 0;
  padding: 0;
  padding-right: 5px;
  padding-bottom: 5px;
}

.contacts__value {
  margin: 0;
  flex-basis: 170px;
  padding: 0;
  padding-right: 10px;
  padding-bottom: 5px;
  margin-right: 3px;

  &.contacts__value--email {
    padding-right: 0;
    position: relative;

    @include font(15px,30px);

    &::after {
      content: "";
      width: 99%;
      height: 1px;
      background-color: $aqua-icons;
      position: absolute;
      top: 29px;
      left: 0;
    }

    &:hover,
    &:focus {
      color: $aqua-text;
    }

    &:active {
      color: $aqua-text;
      opacity: 0.3;
    }
  }
}

.contacts-button__button-wrapper {
  padding-top: 37px;
  padding-bottom: 38px;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    @include font(43px,50px);
    position: relative;
    word-wrap: break-word;
    padding-right: 80px;
    padding-top: 80px;
    padding-bottom: 27px;
    letter-spacing: 2px;
  }

  .contacts__table {
    @include font(17px,30px);
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }

  .contacts__wrapper {
    width: 50%;
    justify-content: flex-start;
  }

  .contacts__character {
    flex-basis: 60px;
  }

  .contacts__value {
    flex-basis: 230px;
    padding-right: 0;
    padding-left: 15px;

    &.contacts__value--email {
      padding-left: 15px;
      letter-spacing: 1px;

      &::after {
        width: 82%;
        top: 30px;
        left: 14px;
      }
    }
  }

  .contacts__title::after {
    content: url("../img/icon-flag.svg");
    position: absolute;
    top: 67px;
    right: 2px;
  }

  .contacts-button__button {
    @include font(17px,20px);
    display: block;
    width: 230px;
    padding: 15px 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .contacts-button__button-wrapper {
    padding-top: 49px;
    padding-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 350px;
    margin-left: 16.5%;
  }

  .contacts__table {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 4px;
    padding-left: 5px;
    order: 2;
  }

  .contacts__character {
    flex-basis: 70px;
  }

  .contacts__wrapper {
    width: 100%;
  }

  .contacts-button__button {
    margin-left: 0;
    order: 3;
  }

  .contacts__title {
    @include font(53px,57px);
    letter-spacing: 3px;
    padding-top: 110px;
    order: 1;
  }

  .contacts__title::after {
    top: 103px;
    left: -107px;
  }

  .contacts__value {
    padding-left: 0;


    &.contacts__value--email {
      padding-left: 2px;
      letter-spacing: 1px;

      &::after {
        width: 86%;
        top: 29px;
        left: 2px;
      }
    }
  }

  .contacts-button__button-wrapper {
    padding-top: 0;
    padding-bottom: 103px;
    padding-left: 177px;
  }
}
