.contacts {
  color: $secondary-color;
  background-color: $primary-color;
  padding-top: 40px;
  padding-bottom: 45px;
}

.contacts__title {
  margin: 0;
  padding-right: 23px;
  padding-bottom: 5px;

  @include font(18px,30px);
}

.contacts__table {
  padding-bottom: 14px;
  font-weight: 400;

  @include font(15px,30px);
}

.contacts__wrapper {
  display: flex;
  margin: 0;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 5px;
  flex-wrap: wrap;
}

.contacts__character {
  flex-basis: 50px;
  margin: 0;
  padding: 0;
  padding-right: 5px;
  padding-bottom: 5px;
}

.contacts__value {
  margin: 0;
  flex-basis: 170px;
  padding: 0;
  padding-right: 10px;
  padding-bottom: 5px;

  &.contacts__value--email {
    border-bottom: 1px solid $aqua-icons;

    &:hover,
    &:focus {
      color: $aqua-text;
    }

    &:active {
      color: $aqua-text;
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .contacts__title {
    @include font(43px,50px);
    position: relative;
    word-wrap: break-word;
    padding-right: 80px;
  }

  .contacts__table {
    @include font(17px,30px);
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__wrapper {
    width: 50%;
    justify-content: flex-start;
  }

  .contacts__character {
    flex-basis: 60px;
  }

  .contacts__value {
    flex-basis: 230px;
    padding-right: 0;
  }

  .contacts__title::after {
    content: url("../img/icon-flag.svg");
    position: absolute;
    top: 0;
    right: 0;
  }

  .contacts__button {
    @include font(17px,20px);
    display: block;
    width: 230px;
    padding: 15px 40px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 350px;
    margin-left: 17%;
  }

  .contacts__table {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .contacts__character {
    flex-basis: 70px;
  }

  .contacts__wrapper {
    width: 100%;
  }

  .contacts__button {
    margin-left: 0;
  }

  .contacts__title {
    @include font(53px,57px);
  }

  .contacts__title::after {
    top: 0;
    left: -100px;
  }
}
