.copyright {
  position: relative;
}

.copyright__text {

}

.copyright__link {
  font-size: 0;
}

.copyright__img {
  position: absolute;
  color:$aqua-text;
  bottom: 23px;
  right: -70px;
  transform: scale(1.5);
}
