.expanded-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

@media (min-width: $desktop-width) {
  .expanded-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 35%;
  }

  .expanded-list__item {
    box-sizing: border-box;
    padding-top: 16px;
    width: 50%;
    padding-right: 5px;
    padding-left: 1px;
  }

  .expanded-list__item a {
    @include font(17px,24px);
    color: $secondary-color;
    font-weight: 700;

    &:hover,
    &:focus {
      color: $secondary-color-30;
    }

    &:active {
      color: $secondary-color-60;
    }
  }
}
