.fieldset {
  padding-bottom: 25px;

  &.fieldset--checkbox {
    padding-bottom: 3px;
  }

  &.fieldset--text {
    padding-bottom: 12px;
  }

  &.fieldset--phone {
    padding-bottom: 8px;
  }

  &.fieldset--email {
    padding-bottom: 10px;
  }

  &.fieldset--textarea {
    padding-bottom: 18px;
  }
}

.fieldset__title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  padding-top: 8px;
  padding-right: 27px;
  padding-bottom: 20px;
  position: relative;
  word-wrap: break-word;

  @include font(17px,16px);
  color: $aqua-light;

  &.fieldset__title:not(.fieldset__title--email)::after {
    content: "";
    width: 200px;
    background-color: $gray-light;
    height: 2px;
    position: absolute;
    bottom: 25px;
    display: block;
    right: 2px;
  }

  &.fieldset__title--email::after {
    content: "";
    width: 180px;
    background-color: $gray-light;
    height: 2px;
    position: absolute;
    bottom: 25px;
    display: block;
    right: 2px;
  }
}

.fieldset__item {
  display: flex;
  min-width: 200px;
}

@media (min-width: $tablet-width) {
  .fieldset__title {
    width: 25%;

    &.fieldset__title:not(.fieldset__title--email)::after {
      display: none;
    }
  }

  .fieldset__wrapper {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .fieldset__wrapper--radio {
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .fieldset__title {
    width: 17%;

    &.fieldset__title::after {
      display: none;
    }
  }

  .fieldset__wrapper {
    width: 66%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .fieldset__wrapper--desktop {
    width: 80%;
  }

  .fieldset__item {
    min-width: 244px;
  }
}
