.fieldset {
  padding-bottom: 28px;

  &.fieldset--checkbox {
    padding-bottom: 9px;
  }

  &.fieldset--text {
    padding-bottom: 14px;
  }

  &.fieldset--phone {
    padding-bottom: 14px;
  }

  &.fieldset--email {
    padding-bottom: 15px;
  }

  &.fieldset--textarea {
    padding-bottom: 15px;
  }
}

.fieldset__title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  padding-top: 8px;
  padding-right: 27px;
  padding-bottom: 20px;
  position: relative;
  word-wrap: break-word;

  @include font(17px,16px);
  color: $aqua-light;

  &.fieldset__title--phone {
    padding-bottom: 17px;
  }

  &.fieldset__title:not(.fieldset__title--email)::after {
    content: "";
    background-color: $aqua-light;
    height: 2px;
    position: absolute;
    bottom: 27px;
    right: 0;
    left: 59px;
  }

  &.fieldset__title--email::after {
    content: "";
    background-color: $aqua-light;
    height: 2px;
    position: absolute;
    bottom: 25px;
    left: 80px;
    right: 0;
  }
  /*&.fieldset__title:not(.fieldset__title--email)::after {
    content: "";
    width: 196px;
    background-color: $aqua-light;
    height: 2px;
    position: absolute;
    bottom: 27px;
    display: block;
    right: 0;
  }

  &.fieldset__title--email::after {
    content: "";
    width: 180px;
    background-color: $aqua-light;
    height: 2px;
    position: absolute;
    bottom: 25px;
    display: block;
    right: 2px;
  }*/
}

.fieldset__item {
  display: flex;
  min-width: 200px;
}

@media (min-width: $tablet-width) {
  .fieldset__title {
    width: 25%;
    padding-top: 15px;

    &.fieldset__title--color {
      padding-top: 24px;
    }

    &.fieldset__title--name {
      padding-top: 22px;
    }

    &.fieldset__title--phone {
      padding-top: 24px;
      padding-right: 0;
    }

    &.fieldset__title:not(.fieldset__title--email)::after {
      display: none;
    }

    &.fieldset__title--email {
      padding-right: 0;
    }

    &.fieldset__title--email::after {
      display: none;
    }

    &.fieldset__title--textarea {
      padding-top: 24px;
    }
  }

  .fieldset__wrapper {
    width: 89%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .fieldset__wrapper--radio {
    flex-direction: column;
  }

  .fieldset {
    padding-bottom: 21px;

    &.fieldset--checkbox {
      padding-bottom: 34px;
    }

    &.fieldset--text {
      padding-bottom: 32px;
    }

    &.fieldset--phone {
      padding-bottom: 9px;
    }

    &.fieldset--email {
      padding-bottom: 32px;
    }

    &.fieldset--textarea {
      padding-bottom: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .fieldset__title {
    width: 11%;
    padding-right: 3px;
    margin-left: 0;
    padding-top: 18px;

    &.fieldset__title::after {
      display: none;
    }

    &.fieldset__title--color {
      padding-top: 25px;
    }

    &.fieldset__title--name {
      padding-top: 25px;
    }

    &.fieldset__title--phone {
      padding-top: 25px;
      padding-right: 0;
    }

    &.fieldset__title:not(.fieldset__title--email)::after {
      display: none;
    }

    &.fieldset__title--email {
      padding-right: 3px;
      padding-top: 16px;
    }

    &.fieldset__title--email::after {
      display: none;
    }

    &.fieldset__title--textarea {
      padding-top: 25px;
    }
  }

  .fieldset__wrapper {
    width: 73%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .fieldset__wrapper--desktop {
    width: 80%;
  }

  .fieldset__item {
    min-width: 244px;
  }

  .fieldset {
    padding-bottom: 24px;

    &.fieldset--checkbox {
      padding-bottom: 35px;
    }

    &.fieldset--text {
      padding-bottom: 33px;
    }

    &.fieldset--phone {
      padding-bottom: 9px;
    }

    &.fieldset--email {
      padding-bottom: 32px;
    }

    &.fieldset--textarea {
      padding-bottom: 14px;
    }
  }
}
