.fieldset {
  padding-bottom: 25px;
  &.fieldset--checkbox {
    padding-bottom: 3px;
  }
  &.fieldset--text {
    padding-bottom: 12px;
  }
  &.fieldset--phone {
    padding-bottom: 8px;
  }
  &.fieldset--email {
    padding-bottom: 10px;
  }
  &.fieldset--textarea {
    padding-bottom: 18px;
  }
}

.fieldset__title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  padding-top: 8px;
  padding-right: 27px;
  padding-bottom: 20px;
  position: relative;
  @include font(17px,16px);
  color: $aqua-light;
  &.fieldset__title:not(.fieldset__title--email)::after {
    content: "";
    width: 200px;
    background-color: $gray-light;
    height: 2px;
    position: absolute;
    bottom: 25px;
    display: block;
    right: 2px;
  }
  &.fieldset__title--email::after {
    content: "";
    width: 180px;
    background-color: $gray-light;
    height: 2px;
    position: absolute;
    bottom: 25px;
    display: block;
    right: 2px;
  }
}

.fieldset__item {
  display: flex;
}
