.form-order {
  margin: 0;
  padding: 0;
}

.form-order__small-text {
  margin: 0;
  padding-top: 23px;
  padding-bottom: 15px;
  padding-left: 1px;
  padding-right: 5px;
  font-weight: 400;

  @include font(13px,24px);
}

.form-order__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.form-order__obligatory {
  margin: 0;
  padding-bottom: 31px;
  padding-right: 5px;

  @include font(14px,16px);
  color: $gray-dark;
}

.form-order__button {
  margin-bottom: 54px;
  width: 100%;
  min-height: 52px;

  @include font(17px,17px);
  font-weight: 700;
  background-color: $primary-color;
}

@media (min-width: $tablet-width) {
  .form-order__small-text {
    color: $gray-dark;
    padding-top: 39px;

    @include font(17px,30px);
  }

  .form-order__wrapper {
    display: flex;
    align-items: flex-start;
    padding-top: 45px;

    &.form-order__wrapper--email {
      padding-top: 0;
    }

    &.form-order__wrapper--tablet {
      padding-top: 36px;
    }
  }

  .form-order__obligatory {
    order: 2;

    @include font(17px,30px);
    min-width: 50%;
    text-align: right;
    margin-left: auto;
    padding-top: 9px;
    padding-right: 1px;
  }

  .form-order__button {
    order: 1;
    width: 230px;
    margin-bottom: 50px;
    flex-grow: 0;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .form-order__small-text {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 136px;
  }

  .form-order__wrapper {
    padding-left: 66px;
    padding-top: 42px;

    &.form-order__wrapper--desktop {
      width: 722px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 4px;
      padding-top: 35px;
    }
  }

  .form-order__button {
    margin-left: 19px;
  }
}
