.icon__item--htmlacademy {
  transform: scale(0.7);
  fill: #63d1bb;

  &:hover,
  &:focus {
    fill: #46c1ae;
  }

  &:active {
    fill: #46c1ae;
    opacity: 0.3;
  }
}

.icon__item--logo-mobile,
.icon__item {
  &:hover,
  &:focus {
    fill: #46c1ae;
  }

  &:active {
    fill: #46c1ae;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .icon__item--logo-mobile {
    padding-top: 0;
    padding-left: 10px;
    transform: scale(1.2);
  }
}

@media (min-width: $desktop-width) {
  .icon__item--logo-mobile {
    padding-left: 10px;
    padding-top: 6px;
  }
}
