.main-nav {
  margin: 0;
  padding: 0;
}

.main-nav__toggle {
  position: absolute;
  font-size: 0;
  background-color: white;
  background-image: url("../img/icon-menu-open.svg");
  width: 20px;
  height: 14px;
  border: none;
  top: -50px;
  right: 10px;

  &.main-nav__toggle--open {
    background-image: url("../img/icon-menu-close.svg");
    width: 21px;
    height: 21px;
  }
}

.main-nav__wrapper {
  position: relative;
  display: block;
  flex-direction: column;
  width: auto;
  background-color: $primary-color;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include font(17px,24px);
}
