.map {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0;
  position: relative;
/*
  &::after {
    content: url("../img/icon-map-pin.svg");
    width: 66px;
    height: 101px;
    position: absolute;
    top: 145px;
    left: 138px;
  }*/
}

.map__img {
  background-color: $primary-color;
  width: 100%;
  height: 457px;
}

@media (min-width: $tablet-width) {
  .map {
    width: 100%;
    &::after {
      top: 140px;
      left: 161px;
    }
  }

  .map__img {
    width: 100%;
    height: 460px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    position: relative;
    margin-bottom: 25px;

    &::after {
      top: -234px;
      left: 402px;
    }
  }

  .map__img {
    position: absolute;
    width: 525px;
    top: -383px;
    left: 50.5%;
  }
}
