.map {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  padding: 0;
}

.map__img {
  background-color: $primary-color;
}

@media (min-width: $desktop-width) {
  .map {
    position: relative;
  }

  .map__img {
    position: absolute;
    top: -370px;
    left: 55%;
  }
}
