.page-header {
  background-color: $primary-color;
  min-height: 79px;
  position: relative;
}

.page-header__logo {
  position: relative;
  display: inline-block;
  margin-top: 23px;
  margin-bottom: 18px;
  margin-left: 33%;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    margin-left: 0;
    position: relative;
  }
}
