.page-footer {
  background-color: $gray;
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  padding-top: 5px;
  padding-bottom: 9px;
  height: 50px;
  width: 200px;
}

.page-footer__copyright {
  @include font(19px,19px);
  font-weight: 700;
  margin-top: 18px;
  padding-top: 26px;
  padding-bottom: 24px;
  padding-left: 38px;
  max-width: 200px;
  border-top: 1px solid $gray-light;
}

@media (min-width: $tablet-width) {
  .page-footer__logo {
    display: block;
    cursor: pointer;
  }

  .page-footer__wrapper {
    justify-content: space-between;
    align-items: center;
    padding-top: 37px;
    padding-bottom: 40px;
  }

  .page-footer__copyright {
    margin-top: 0;
    padding: 0;
    padding-top: 27px;
    border: none;
  }

  .page-footer__social {
    padding-bottom: 9px;
    height: 50px;
    width: 141px;
    margin-left: 86px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding-top: 29px;
  }

  .page-footer__copyright {
    margin-top: 0;
    padding: 0;
    padding-left: 43px;
    padding-top: 16px;
  }

  .page-footer__social {
    margin-top: 18px;
    padding-bottom: 9px;
    margin-left: 129px;
  }
}
