.page-header {
  background-color: $primary-color;
  position: relative;
}

.page-header__logo {
  position: relative;
  display: inline-block;
  margin-top: 23px;
  margin-bottom: 18px;
  margin-left: 33%;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    margin-left: 0;
    position: relative;
  }

  .page-header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-header {
    background: linear-gradient($primary-color 52%, #f1f1f1 52%);
    width: 100vw;

    &--main {
      background: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background: linear-gradient($primary-color 67%, $gray 67%);
    width: 100vw;
  }
}
