.page-footer {
  background-color: $gray;
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  padding-top: 6px;
  padding-bottom: 9px;
  height: 50px;
  min-width: 144px;
  margin-left: 56px;
}

.page-footer__copyright {
  @include font(19px,19px);
  font-weight: 700;
  margin-top: 18px;
  padding-top: 23px;
  padding-bottom: 24px;
  padding-left: 38px;
  max-width: 200px;
  border-top: 1px solid $gray-light;
}

@media (min-width: $tablet-width) {
  .page-footer__logo {
    display: block;
    cursor: pointer;

    &:hover .icon__item--logo-mobile,
    &:focus .icon__item--logo-mobile {
      fill: #46c1ae;
    }

    &:active .icon__item--logo-mobile {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }

  .page-footer__wrapper {
    justify-content: space-between;
    align-items: center;
    padding-top: 37px;
    padding-bottom: 40px;
  }

  .page-footer__copyright {
    margin-top: 0;
    padding: 0;
    padding-top: 23px;
    border: none;
  }

  .page-footer__social {
    padding-bottom: 9px;
    height: 50px;
    width: 141px;
    margin-left: 86px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding-top: 26px;
  }

  .page-footer__copyright {
    margin-top: 0;
    padding: 0;
    padding-left: 43px;
    padding-top: 16px;
  }

  .page-footer__social {
    margin-top: 22px;
    padding-bottom: 9px;
    margin-left: 129px;
  }
}
