.products {

}

.products__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.products__item {
  min-height: 103px;
    &--torch {
    background-color: $aqua-light;
    position: relative;
    }
    &--lego {
    background-color: $aqua-dark;
    position: relative;
  }
}

.products__link {
  display: inline-block;
  color:$primary-color;
  @include font(19px,24px,700);
  padding-top: 24px;
  padding-right: 120px;
  padding-left: 1px;
  padding-bottom: 5px;
  word-wrap: break-word;
  letter-spacing: 2.3px;
}

