.production {
  background-color: $primary-color;
  padding-top: 0;
  padding-bottom: 29px;
  position: relative;
}

.production__icon-play {
  position: absolute;
  top: 147px;
  left: 80px;
}

.production__icon-video {
  position: absolute;
  top: 25px;
  left: 35px;
}

.production__video {
  padding-top: 0;
  margin-left: auto;
  margin-right: auto;
  order: 2;
  position: relative;

  &::after {
    content: url("../img/icon-play.svg");
    display: block;
    width: 101px;
    height: 77px;
    position: absolute;
    top: 38px;
    left: 81px;
    z-index: 10;
  }

  &:hover::after,
  &:focus::after {
    transform: scale(1.2);
  }

  &:active::after {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.production__card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid $gray-light;
  margin-bottom: 30px;

  &:hover,
  &:focus {
    border: 1px solid $gray-light;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    border: 1px solid $gray-light;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.production__title {
  margin: 0;
  order: 1;

  padding-top: 25px;
  padding-left: 91px;
  padding-bottom: 24px;
  padding-right: 22px;

  @include font(17px,24px);
  letter-spacing: 1px;
  position: relative;

  &::before {
    content: url("../img/icon-video.svg");
    width: 32px;
    height: 32px;
    position: absolute;
    top: 31px;
    left: 35px;
  }
}

.production__wrapper {
  order: 3;
}

.production__description {
  font-weight: 400;

  @include font(13px,24px);
  padding-top: 8px;
  padding-left: 35px;
  padding-bottom: 12px;
  padding-right: 34px;
}

.production__button {
  margin-bottom: 30px;
  width: 194px;
  margin-left: 13%;
}

@media (min-width: $tablet-width) {
  .production {
    padding-bottom: 34px;
    padding-top: 1px;
  }

  .production__card {
    display: block;
    padding-bottom: 13px;
  }

  .production__video {
    order: 1;
    margin-left: auto;
    margin-right: auto;
    height: 455px;
    width: 100%;
    overflow: hidden;

    &::after {
      top: 189px;
      left: 284px;
    }
  }

  .production__title {
    @include font(20px,24px);
    padding-left: 106px;
    padding-top: 38px;
    padding-bottom: 17px;
    order: 2;

    &::before {
      top: 34px;
      left: 42px;
    }
  }

  .production__description {
    @include font(15px,30px);
    padding-left: 40px;
    padding-top: 0;
    padding-right: 40px;
    padding-bottom: 20px;
    margin-bottom: 17px;
  }

  .production__button {
    width: 87.5%;
    margin-left: 44px;
    min-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .production {
    padding-bottom: 73px;
    margin-top: 5px;
  }

  .production__card {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 0;
    min-height: 455px;
    position: relative;
  }

  .production__wrapper {
    display: flex;
    flex-direction: column;
    width: 366px;
  }

  .production__title {
    padding-top: 94px;
    padding-left: 60px;
    width: 242px;
    position: absolute;
    right: 25px;

    &::before {
      top: 42px;
      left: 62px;
    }
  }

  .production__video {
    margin-left: 0;
    margin-right: 0;
    height: 455px;
    width: 65%;
    order: -1;

    &::after {
      top: 190px;
      left: 290px;
    }
  }

  .production__button {
    width: 64%;
    margin: auto;
    margin-top: 10px;
    margin-right: 55px;
    margin-bottom: 5px;
  }

  .production__description {
    padding-left: 77px;
    width: 61%;
    padding-top: 160px;
  }
}
