.product {
  background-color: $primary-color;
  padding-top: 29px;
  padding-bottom: 12px;

}

.product__card {
  border: 1px solid $gray-light;
  margin-bottom: 30px;
}

.product__image {

}

.product__name {
  padding-left: 30px;
  padding-top: 10px;
  @include font(17px,24px,700);
}

.product__description {
  @include font(13px,30px,400);
  padding-left: 30px;
  padding-right: 10px;

}

.product__buy {
  @include font(15px,24px,700);
  padding-left: 30px;
  padding-top: 9px;
  position: relative;
  border-bottom: 1px solid $gray-light;
}

.product__price {
  padding-right: 50px;
}

.product__link {

}

.product__icon-cart {
  position: absolute;
  bottom: 18px;
  right: 30px;
}
