.promo-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

@media (min-width: $tablet-width) {
  .promo-list {
    display: block;

    @include font(15px,24px);
    z-index: 3;
    padding-top: 15px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .promo-list {
    padding-top: 15px;
  }
}
