.radio {
  padding-top: 6px;
}

.radio__control {
  display: none;
}

.radio__label {
  display: inline-block;

  @include font(17px,18px);
  letter-spacing: 0.2px;
  color: $secondary-color;
  padding-top: 9px;
  padding-left: 26px;
  padding-right: 30px;
  padding-bottom: 8px;
  word-break: keep-all;
  word-wrap: break-word;
  width: 200px;
  box-sizing: border-box;
}

.radio__icon {
  position: relative;
  margin-left: 5px;
  display: block;
  width: 35px;
  height: 35px;
  border: 2px solid $gray-dark;
  border-radius: 50%;
  flex-shrink: 0;

  &:hover,
  &:focus {
    border: 2px solid $aqua-form;
  }

  &:active {
    border: 2px solid $gray-30;
  }
}

.radio__icon::after {
  content: "";
  position: absolute;
  left: 8px;
  bottom: 10px;
  display: block;
  width: 16px;
  height: 16px;
  opacity: 0;
  background-color: $aqua-form;
  border-radius: 50%;
}

.radio__control:checked ~ .radio__icon::after {
  opacity: 1;
}

@media (min-width: $tablet-width) {
  .radio {
    padding-top: 0;
  }

  .radio__label {
    width: 100%;
    letter-spacing: 2px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
  }

  .radio__icon {
    width: 47px;
    height: 47px;
    margin-left: 0;
  }

  .radio__icon::after {
    left: 13px;
    bottom: 14px;
    width: 20px;
    height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .radio {
    width: 100%;
    flex-shrink: 1;
  }

  .radio__label {
    padding-bottom: 43px;
  }
}
