.reviews {
  color: $secondary-color;
  background-color: $primary-color;
  padding-bottom: 45px;
}

.reviews__title {
  margin: 0;
  padding-bottom: 23px;
  padding-right: 23px;

  @include font(25px,30px);
}

.reviews__item {
  font-weight: 400;

  @include font(15px,30px);
  padding-bottom: 10px;
}

.reviews__prev {
  margin-bottom: 36px;
  background-color: $primary-color;
  background-image: url("../img/icon-left-arrow.svg");
  background-position-y: center;
  background-position-x: 38px;
  background-repeat: no-repeat;
  width: 127px;
  height: 53px;
  font-size: 0;
  border: 1px solid $gray-light;
}

.reviews__next {
  margin-bottom: 36px;
  background-color: $primary-color;
  background-image: url("../img/icon-right-arrow.svg");
  background-position-y: center;
  background-position-x: 36px;
  background-repeat: no-repeat;
  width: 127px;
  height: 53px;
  font-size: 0;
  border: 1px solid $gray-light;
}

@media (min-width: $tablet-width) {
  .reviews__title {
    padding-right: 200px;
    @include font(43px,50px);
  }
  .reviews__item {
    @include font(17px,30px);
  }
  .reviews {
    background-image: url(../img/review@1x.jpg);
    background-position-x: 0;
    background-repeat: no-repeat;
  }
  .reviews__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 175px;
    padding: 15px 20px;

    @include font(17px,20px);
  }
  .reviews__wrapper {
    position: relative;
  }
  .reviews__prev {
    position: absolute;
    width: 80px;
    height: 53px;
    bottom: 0;
    right: 67px;
    background-position-x: 6px;
  }
  .reviews__next {
    position: absolute;
    width: 80px;
    height: 53px;
    bottom: 0;
    right: 0px;
    background-position-x: 6px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__wrapper {
    width: 83%;
    margin-left: auto;
  }
  .reviews__prev {
    bottom: 0;
    right: 67px;
  }
  .reviews__next {
    bottom: 0;
    right: 0;
  }
}
