.reviews {
  color: $secondary-color;
  background-color: $primary-color;
  padding-bottom: 45px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 24px;
    bottom: -16px;
    left: 0;
    background-image: url("../img/bg-zigzag-line.svg");
    background-position-x: 7px;
    background-size: 100% 25px;
    background-repeat: repeat-x;
  }
}

.reviews__title {
  margin: 0;
  padding-bottom: 23px;
  padding-right: 23px;
  padding-left: 0;
  letter-spacing: 1.8px;

  @include font(25px,30px);
}

.reviews__item {
  font-weight: 400;

  @include font(15px,30px);
  padding-bottom: 10px;
}

.reviews__prev {
  margin-bottom: 38px;
  margin-left: 0;
  background-color: $primary-color;
  background-image: url("../img/icon-left-arrow.svg");
  background-position-y: 14px;
  background-position-x: 38px;
  background-repeat: no-repeat;
  width: 127px;
  height: 53px;
  font-size: 0;
  border: 1px solid $gray-light;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__next {
  margin-bottom: 36px;
  background-color: $primary-color;
  background-image: url("../img/icon-right-arrow.svg");
  background-position-y: 14px;
  background-position-x: 37px;
  background-repeat: no-repeat;
  width: 127px;
  height: 53px;
  font-size: 0;
  border: 1px solid $gray-light;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .reviews__title {
    padding-top: 80px;
    padding-bottom: 46px;
    padding-right: 200px;

    @include font(43px,50px);
    letter-spacing: 3px;
  }

  .reviews__item {
    @include font(17px,30px);
  }

  .reviews {
    background-image: url("../img/review@1x.jpg");
    background-position-x: 0;
    background-repeat: no-repeat;

    &::after {
      height: 26px;
      bottom: -63px;
      left: 0;
      background-position-x: 18px;
      background-size: 768px 26px;
    }

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews__button {
    position: absolute;
    top: 79px;
    right: -2px;
    width: 175px;
    padding: 15px 20px;

    @include font(17px,20px);
  }

  .reviews__wrapper {
    position: relative;
  }

  .reviews__prev {
    position: absolute;
    width: 80px;
    height: 53px;
    bottom: -10px;
    right: 85px;
    background-position-x: 10px;
    background-position-y: 10px;
  }

  .reviews__next {
    position: absolute;
    width: 80px;
    height: 53px;
    bottom: -10px;
    right: 0;
    background-position-x: 12px;
    background-position-y: 10px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__wrapper {
    width: 83.5%;
    margin-left: auto;
  }

  .reviews__prev {
    bottom: -6px;
    right: 83px;
    background-position-x: 9px;
    background-position-y: 15px;
  }

  .reviews__next {
    bottom: -4px;
    right: -3px;
    background-position-x: 10px;
    background-position-y: 15px;
  }

  .reviews__title {
    padding-top: 70px;
    padding-bottom: 48px;
    padding-right: 200px;

    @include font(53px,57px);
    letter-spacing: 4.2px;
  }

  .reviews {
    padding-bottom: 150px;
    background-position-x: 53px;

    &::after {
      height: 41px;
      bottom: -18px;
      background-position-x: 26px;
      background-size: 1050px 41px;
    }
  }

  .reviews__button {
    right: -3px;
  }
}
