.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 18px;
}

.site-list__item {
  min-height: 79px;
  box-sizing: border-box;
  padding-top: 26px;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 15px;
  border-top: 1px solid $gray-light;
}

.site-list__link {
  padding-left: 45px;
  color: $secondary-color;

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
    outline: none;
  }
}

@media (min-width: $tablet-width) {
  .site-list__item {
    box-sizing: border-box;
    max-width: 180px;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 30px;
    border-top: none;

    @include font(15px,24px);
  }

  .site-list {
    margin-top: 0;
  }

  .site-list__link {
    padding-left: 3px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    @include font(17px,24px);
    max-width: 192px;
    padding-right: 32px;
    padding-top: 25px;
    padding-left: 2px;
    padding-bottom: 35px;

    &.site-list__item--catalog {
      padding-left: 0;
    }

    &.site-list__item--menu-catalog {
      padding-top: 22px;
    }
  }

  .site-list__item.site-list__item:last-of-type {
    padding-left: 23px;
    padding-right: 2px;
  }

  .site-list__item.site-list__item:first-of-type {
    padding-right: 23px;
    border-right: 1px solid #f9f9f9;
  }
}
