.social {
  position: relative;
}

.social__link {
  color: $secondary-color;
  font-size: 0;
  position: absolute;
  color:$gray-icons;
  &--instagram {
    top: 25px;
    left:58px;
  }
  &--facebook {
    top: 20px;
    left:120px;
  }
  &--twitter {
    top: 25px;
    left:175px;
  }
}
