.social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social__link {
  font-size: 0;
  color: $gray-icons;
  margin-right: 2px;

  &.social__link--instagram {
    padding-top: 24px;
  }

  &.social__link--facebook {
    padding-top: 20px;
  }

  &.social__link--twitter {
    padding-top: 24px;
  }

  &:hover,
  &:focus {
    outline: none;
  }

  &:hover .icon__item,
  &:focus .icon__item {
    fill: #46c1ae;
  }

  &:active .icon__item {
    fill: #46c1ae;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social__link {
    &.social__link--facebook {
      padding-top: 12px;
    }

    &.social__link--twitter {
      padding-top: 18px;
    }

    &.social__link--instagram {
      padding-top: 18px;
      padding-left: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .social__link {
    &.social__link--facebook {
      padding-top: 6px;
    }

    &.social__link--twitter {
      padding-top: 12px;
    }

    &.social__link--instagram {
      padding-top: 11px;
    }
  }
}
