.social {
  display: flex;
  justify-content: space-between;
}

.social__link {
  font-size: 0;
  color: $gray-icons;

  &.social__link--instagram {
    padding-top: 24px;
    padding-left: 57px;
  }

  &.social__link--facebook {
    padding-top: 20px;
    padding-left: 39px;
  }

  &.social__link--twitter {
    padding-top: 24px;
    padding-left: 37px;
  }
}

@media (min-width: $tablet-width) {
  .social__link {
    &.social__link--facebook {
      padding-top: 12px;
    }

    &.social__link--twitter {
      padding-top: 18px;
    }

    &.social__link--instagram {
      padding-top: 18px;
      padding-left: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .social__link {
    &.social__link--facebook {
      padding-top: 6px;
    }

    &.social__link--twitter {
      padding-top: 12px;
    }

    &.social__link--instagram {
      padding-top: 11px;
    }
  }
}
