.textarea__control {
  font-weight: 400;

  @include font(17px,18px);
  color: $gray-dark;
  padding-top: 15px;
  padding-left: 15px;
  border: 2px solid $secondary-color;
  flex-grow: 1;
}

@media (min-width: $tablet-width) {
  .textarea {
  width: 100%;
  }
  .textarea__control {
    @include font(19px,19px);
  }
}
