.text {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 15px;
}

.text__control {
  font-weight: 400;
  flex-grow: 1;

  @include font(17px,18px);
  color: $gray-dark;
  height: 38px;
  border: none;
  border-bottom: 2px solid $secondary-color;
  padding-right: 5px;
  padding-left: 5px;
  &:hover,
  &:focus {
    border-bottom: 2px solid $aqua-form;
  }
  &:active {
    border-bottom: 2px solid $aqua-form;
    color: $secondary-color;
  }
}

.text__label {
  font-weight: 700;

  @include font(17px,18px);
  padding-top: 8px;
  padding-left: 1px;
  padding-bottom: 7px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .text {
    width: 100%;
    flex-direction: row-reverse;

    @include font(19px,19px);
  }
  .text__control[type="email"] {
    background-color: $gray;
  }
  .text__control[type="tel"] {
    background-color: $gray;
  }
}

@media (min-width: $desktop-width) {

}
/*
.text__control--phone {
  color: $gray-dark;
  position: absolute;
  bottom: 35px;
  right: 7px;
}

.text__control--email {
  color: $gray-dark;
  position: absolute;
  bottom: 32px;
  right: 6px;
}
*/
