.textarea__control {
  font-weight: 400;
  margin-left: 3px;

  @include font(17px,18px);
  color: $gray-dark;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 38px;
  border: 2px solid $secondary-color;
  margin-top: 6px;
  width: 100%;
  box-sizing: border-box;

  &:hover,
  &:focus {
    border: 2px solid $aqua-form;
  }

  &:active {
    border: 2px solid $aqua-form;
    box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 1);
    color: $secondary-color;
  }
}

@media (min-width: $tablet-width) {
  .textarea {
    width: 100%;
  }

  .textarea__control {
    @include font(19px,18px);
    width: 100%;
    padding-top: 12px;
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .textarea__control {
    width: 100%;
    padding-bottom: 0;
    margin-left: 2px;
    margin-top: 8px;
  }
}
