.user-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-list__icon--search,
.user-list__icon--cart {
  fill: $secondary-color;
  opacity: 0.2;
}

.user-list__item:hover .user-list__icon--search,
.user-list__item:focus .user-list__icon--search,
.user-list__item:hover .user-list__icon--cart,
.user-list__item:focus .user-list__icon--cart {
  fill: $aqua-small-icons;
  opacity: 1;
}

.user-list__item:active .user-list__icon--search,
.user-list__item:active .user-list__icon--cart {
  fill: $aqua-small-icons;
  opacity: 0.3;
}

.user-list__icon--search {
  position: absolute;
  top: 30px;
  left: 1px;
}

.user-list__icon--header {
  position: absolute;
  top: 29px;
  left: 0;
}

.user-list__item {
  min-height: 79px;
  box-sizing: border-box;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 20px;
  padding-right: 15px;
  border-top: 1px solid $gray-light;
  position: relative;

  &.user-list__item:last-of-type {
    padding-left: 0;
  }
}

.user-list__link {
  padding-left: 20px;
  color: $secondary-color;

  &.user-list__link--cart {
    padding-left: 47px;
  }
}

@media (min-width: $tablet-width) {
  .user-list__link {
    padding: 0;
  }

  .user-list__item:hover .user-list__link,
  .user-list__item:focus .user-list__link {
   opacity: 0.6;
  }

  .user-list__item:active .user-list__link {
    opacity: 0.3;
  }

  .user-list__icon--search {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    top: 6px;
    left: 14px;
  }

  .user-list__icon--catalog {
    left: 15px;
  }

  .user-list__icon--header {
    top: 33px;
    left: 31px;
  }

  .user-list__link--search {
    font-size: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .user-list__link--cart {
    display: block;
    padding-left: 82px;
    padding-right: 0;
    padding-top: 30px;
    max-width: 300px;
  }

  .user-list__item {
    padding: 0;
    padding-left: 44px;
    padding-bottom: 36px;
    border-left: 1px solid $gray-light;

    &.user-list__item:last-of-type {
      padding-left: 35px;
    }

    &.user-list__item--catalog:last-of-type {
      padding-left: 37px;
    }

    &.user-list__item--catalog {
      padding-right: 0;
    }

    &.user-list__item--form {
      padding-right: 6px;
      padding-left: 38px;
    }

    &.user-list__item--form:last-of-type {
      padding-left: 32px;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-list__link--search {
    padding-right: 35px;
  }

  .user-list__item {
    padding-left: 25px;

    &.user-list__item:last-of-type {
      padding-left: 40px;
    }

    &.user-list__item--catalog:last-of-type {
      padding-left: 43px;
    }

    &.user-list__item--catalog {
      padding-left: 27px;
    }

    &.user-list__item--form {
      padding-right: 0;
      padding-left: 27px;
    }
  }

  .user-list__link--cart {
    padding-left: 47px;
  }

  .user-list__icon--search {
    top: 7px;
    left: 11px;
  }

  .user-list__icon--header {
    top: 35px;
    left: 32px;
  }

  .user-list__icon--form {
    left: 33px;
  }
}
