.week-product {
  background-color: $primary-color;
  padding-bottom: 10px;
}

.week-product__title {
  margin: 0;
  padding-top: 26px;
  padding-left: 1px;
  padding-right: 5px;
  padding-bottom: 4px;

  @include font(25px,30px);
}

.week-product__promo {
  color: $aqua-text;
  text-transform: uppercase;

  @include font(17px,20px);
  padding-left: 0;
  padding-bottom: 5px;
  padding-right: 5px;
}

.week-product__describtion {
  display: inline-block;
  margin-bottom: 0;
  padding-top: 8px;
  padding-right: 3px;
  padding-left: 0;
  color: $gray-dark;
  font-weight: 400;
  order: 1;

  @include font(15px,24px);
}

.week-product__characters {
  color: $gray-dark;
  font-weight: 400;
  order: 2;

  @include font(15px,20px);
}

.week-product__image {
  order: 3;
  margin-top: 19px;
  margin-bottom: 16px;
  margin-left: 0;
}

.week-product__price {
  order: 4;
  display: inline-block;
  padding-top: 3px;
  padding-bottom: 25px;
  padding-left: 67px;
  padding-right: 10px;
  color: $gray-dark;

  @include font(17px,24px);
}

.week-product__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.week-product__button {
  order: 5;
}

@media (min-width: $tablet-width) {
  .week-product {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    position: relative;
    padding-top: 23px;
  }

  .week-product__title {
    @include font(43px,50px);
    flex-basis: 440px;
  }

  .week-product__promo {
    @include font(17px,17px);
    width: 110px;
    height: 30px;
    padding-bottom: 14px;
    text-align: center;
    letter-spacing: 1px;
  }

  .week-product__describtion {
    padding-top: 27px;
    padding-right: 3px;
    padding-bottom: 20px;
    width: 288px;

    @include font(17px,30px);
  }

  .week-product__image {
    position: absolute;
    right: 0;
    top: 136px;
    width: 333px;
    height: 404px;
  }

  .week-product__price {
    @include font(20px,24px);
    width: 210px;
    display: block;
    padding-top: 46px;
    padding-left: 74px;
    padding-bottom: 33px;
  }

  .week-product__wrapper {
    min-height: 476px;
    padding-right: 380px;
  }

  .week-product__button {
    width: 290px;
    min-height: 52px;
  }
}

@media (min-width: $desktop-width) {
  .week-product__promo {
    margin-top: 60px;

    @include font(17px,17px);
    width: 100px;
    order: 1;
    margin-left: 37px;
    box-sizing: border-box;
  }

  .week-product__title {
    @include font(53px,57px);
    margin-right: auto;
    margin-top: 20px;
    margin-left: 34px;
    padding-top: 25px;
    flex-basis: 800px;
    z-index: 3;
    order: 2;
  }

  .week-product {
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 82px;
  }

  .week-product__describtion {
    margin-bottom: 20px;
    width: 288px;
    padding-top: 28px;
    padding-left: 2px;
  }

  .week-product__characters {
    margin-bottom: 50px;
  }

  .week-product__wrapper {
    min-height: 545px;
    margin-left: 175px;
    order: 3;
  }

  .week-product__image {
    top: 57px;
    width: 525px;
    height: 636px;
  }

  .week-product__price {
    padding-top: 53px;
    padding-left: 75px;
    padding-bottom: 34px;
    width: 210px;
  }

  .week-product__button {
    width: 290px;
    margin-left: 3px;
  }
}
