.container {
  min-width: 260px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 28px;
}

@media (min-width: $tablet-width) {
  .container {
    padding-left: 47px;
    padding-right: 49px;
    min-width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
    max-width: $desktop-width;
    box-sizing: border-box;
  }
}
