$white: #ffffff;
$white-30: transparentize($white, 0.3);
$white-60: transparentize($white, 0.6);
$black: #000000;
$black-30: transparentize($black, 0.3);
$black-60: transparentize($black, 0.6);
$aqua-light: #63d1bb;
$aqua-dark: #56c3b2;
$aqua-form: #62d1ba;
$aqua-footer: #46c1ae;
$aqua-small-icons: #63d1bb;
$aqua-icons: #149080;
$aqua-text: #46c1ae;
$gray: #f1f1f1;
$gray-icons: #231f20;
$gray-light: #ececec;
$gray-dark: #444444;
$gray-30: transparentize($gray-dark, 0.3);

$primary-color: $white;
$primary-color-30: $white-30;
$primary-color-60: $white-60;

$secondary-color: $black;
$secondary-color-30: $black-30;
$secondary-color-60: $black-60;
